<h1>Idea #<%= @idea.id %></h1>

<div>
  <strong>Name</strong>:<br />
  <p><%= @idea.name %></p>
</div>

<a href="/ideas/<%= @idea.id %>/edit">Edit</a> |
<a href="/ideas/<%= @idea.id %>/destroy">Destroy</a>
